@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
header {
    background-color: #ffffff; /* Fondo blanco */
    padding: 10px;
    text-align: center;
}

.logo {
    width: 210px;
    height: auto;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: none;
}

/* Títulos */
h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Botón de nueva recomendación */
a.btn.new-rec {
    background-color: #16644f; /* Color oscuro */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 20px;
    display: inline-block;
}

a.btn.new-rec:hover {
    background-color: #77b6b7; /* Color claro en hover */
}

/* Grid de recomendaciones */
.recommendation-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

/* Caja de cada recomendación */
.recommendation-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border: 2px solid #ddd;
}

.recommendation-card h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.recommendation-card p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

/* Estilos de los botones dentro de la tarjeta */
.action-buttons {
    margin-top: 10px;
}

a.btn {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.9rem;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
}

a.btn.edit {
    background-color: #bdc3c7;
}

a.btn.edit:hover {
    background-color: #95a5a6;
}

a.btn.delete {
    background-color: #e74c3c;
}

a.btn.delete:hover {
    background-color: #c0392b;
}

a.btn.send {
    border: 2px solid #bdc3c7; /* Borde gris */
    color: #bdc3c7; /* Texto gris */
    background-color: transparent; /* Sin fondo */
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

a.btn.send:hover {
    color: #95a5a6; /* Texto gris más oscuro al pasar el mouse */
    border-color: #95a5a6; /* Borde gris más oscuro al pasar el mouse */
}

a.btn:focus {
    outline: none;
}

.form-group {
    margin: 20px;
}

button[type="submit"] {
    background-color: #16644f; /* Color oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Inter', sans-serif;
}

button[type="submit"]:hover {
    background-color: #77b6b7; /* Color claro en hover */
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px 12px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}
